/* 背景色を変更 */
body {
  background-color: ##bdbbbb; /* 背景色を薄いグレーに変更 */
  color: #333333; /* 文字色をダークグレーに変更 */
}



/* フッターの背景色と文字色 */
footer {
  background-color: #333333; /* フッターの背景色をダークグレーに変更 */
  color: #ffffff; /* フッターの文字色を白に変更 */
}